.heroSectVideoDiv{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);

}


.frontDiv{

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);


}


.custom-container {
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    height: auto;
  }
  
  .item {
    /* position: absolute; */
    
    color: white;
    
  }


  
  .item:nth-child(6n + 1) {

    height: 300px;

  }
  
  .item:nth-child(6n + 2) {
    height: 600px;
  }
  
  .item:nth-child(6n + 3) {

    height: 550px;
  }
  
  .item:nth-child(6n + 4) {

    height: 420px;
  }
  
  .item:nth-child(6n + 5) {

    height: 420px;
  }
  
  .item:nth-child(6n + 6) {

    height: 550px;
  }
  


  .serviceCardHeading{   
    
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.serviceCardParagraph{   
    
  overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4; 
-webkit-box-orient: vertical;
}





  .eachBlogCardHeading{   
    
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.eachBlogCardExcerpt{   
    
  overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 6; /* number of lines to show */
        line-clamp: 6; 
-webkit-box-orient: vertical;
}



.toggleIt{
  visibility: hidden;
  opacity: 0;
}






.lds-dual-ring {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #EC0044;
  border-color: #EC0044 transparent #EC0044 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




